
<header class="compact">
	<img class="logo" src="/front/assets/huggingface_logo.svg">
	<div class="title">
		Transformers
	</div>
</header>

<div class="title-container">
	<div class="title-container-inner">
		<div class="page-title">
			Welcome, {{user}}
		</div>
	</div>
</div>

<div class="container-narrow">
	<div class="cli-details">
		<div class="details-heading">
			hello
			from the <a href="https://github.com/huggingface/transformers"><code>🤗/transformers</code></a> lib.
			<br>(⚠️ Work-in-progress ⚠️)
		</div>
		<pre class="cli">$ transformers-cli login</pre>
		<pre class="cli">$ transformers-cli upload</pre>
	</div>
</div>
